@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  scrollbar-track-color: #35ff33;
}

body {
  cursor: url("Icons/cusor.png"), auto;
  border-radius: 10px;
  /* background-color: rgb(240, 128, 128,0.5); */
  /* background-color: rgb(173, 216, 230,0.6); */
}

.navigation {
  border-radius: 5px;
  background-color: white;
  position: sticky;
  top: 0;
}

.landingpage {
  background-color: rgb(255, 255, 224, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.imagecontainer {
  display: flex;
  transition: all;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  margin: 1rem;
  /* margin-right:9rem; */
}
.landingpage > .content {
  display: flex;
  flex-direction: column;
  font-size: 6.5em;
  padding: 40px;
  margin-left: 2rem;
  width: 40vw;
  height: 40vh;
  font-family: "Roboto Slab", serif;
  transition: all;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.contact-icon{
width: 25px;
width: 25px;
}
.contact-icons > .contact-li{
  font-size: 1.4em !important;
}

ul li {
  /* float: left; */
  list-style-type: none;
  margin-right: 30px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  position: relative;
}

ul li::after {
  content: "";
  width: 100%;
  background-color: red;
  height: 3px;
  position: absolute;
  transform: scaleX(0);
  left: 0;
  bottom: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#title:hover {
  color: rgba(0, 0, 0, 0.74);
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 10px;
  transition: padding 2s;
}
ul li a:hover {
  padding: 25px;
  /* color: white; */
  font-weight: 400;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  cursor: url(Icons/cusor.png), auto;
}

.menubar {
  display: flex;
  justify-content: flex-end;
}
#contact {
  padding: 0.5rem;
  margin: 10px !important;
  border-radius: 10px;
  border: none;
  background-color: #2d2a32;
  color: white;
  cursor: pointer;
  transition: background, border-radius;
}
#contact:hover {
  background: #0d1321;
  border-radius: 15px;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

#title {
  margin: 15px;
  position: absolute;
  transition: all;
  transition-property: color;
}
#title::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}
#title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 730px) {
  body {
    background-color: blue;
  }
  #menu,
  #contact {
    visibility: hidden;
  }
}

.link:hover {
  /* background-color: black; */
  border-radius: 5px;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  transition: all;
}

.block {
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  border-radius: 15px;
  flex-shrink: 1;
  background-color: rgb(255, 255, 224, 0.5);
  width: 30vw;
  height: auto;
  align-items: center;
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 0px 24px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 5px 0px 24px -3px rgba(0, 0, 0, 0.53);
  box-shadow: 5px 0px 24px -3px rgba(0, 0, 0, 0.53);
  border: none;
}
.block:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.918);
  transform: rotateY(20deg);
}
.block h2 {
  color: rgba(255, 0, 0, 0.781);
}

.service {
  box-shadow: 5px 0px 24px -3px rgba(0, 0, 0, 0.33);
  border: none;
  text-align: center;
  background-color: rgb(255, 255, 224, 0.5);
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  width: 100%;
  height: 250px;
  font-family: "Poppins", sans-serif;
}

.nextwindow {
  margin: 0;
  transition: all;
  transition-property: all;
  padding: 10px;

  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 224, 0.5);
}
.nextwindow img {
  opacity: 0.6;
  animation: fadeIn infinite 1s;
}

.nextwindow img:hover {
  transform: rotate(180deg);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  background: rgba(53, 52, 52, 0.842);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(219, 126, 19, 0.61);
  width: 15px;
}

.block-logo {
  width: 70px;
  height: 70px;
}
#temp-img {
  position: absolute;
  left: -250px;
  opacity: 0.7;
  top: 50px;
  transform: skewY(30deg);
}
